a:link{
    text-decoration:none;
    color:white;
}
a:visited{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
    color:white;
}
#loading{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}
#loading-image{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}
#clear{
	clear:both;
}
@media only screen and (min-width:200px) and (max-width:1000px){
    #click-menu{
        width:70px;
        height:40px;
    }
	#barca-top{
		color:white;
		background-color:darkred;
		width:100%;
		height:120px;
		margin:-8px;
		padding-right:16px;
		padding-top:20px;
	}
	#barca-top h1{
		font-family:Verdana, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:23px;
		float:left;
		margin-left:20px;
		width:50%;
		margin-top:0px;
	}
	#menu-lap{
		display:none;
	}
	#mps{
		cursor:pointer;
		font-size:18px;
	}
	#menu-phone{
		text-align:center;
		background-color:black;
		height:auto;
		margin-top:-6px;
		padding-top:10px;
		margin-right:-16px;
		padding-bottom:10px;
	}
	#menu-lap-2{
		text-align:center;
		background-color:black;
		height:auto;
		margin-top:0px;
		padding-bottom:1px;
		padding-top:1px;
		margin-right:-16px;
	}
	#barcelona-appear{
		display:none;
	}
	#barcelona-appear-2{
		background-color:black;
		color:white;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		width:100%;
		height:auto;
		position:relative;
		padding-bottom:5px;
		padding-top:5px;
		padding-right:6px;
		padding-left:10px;
	}
	#brcl{
		cursor:pointer;
	}
	#brcl2{
		cursor:pointer;
	}
	.space-in-nav{
		margin-left:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:15px;
	}
	#barca-image{
		width:80px;
		height:80px;
		margin-left:5%;
		float:left;
		margin-top:0px;
		border-radius:20%;
	}
	#transfer-news-div{
		display:none;
	}
	#tnd{
		font-size:23px;
		background-color:darkred;
		height:auto;
		width:100%;
		margin-top:0px;
		text-align:center;
		font-family:'Trebuchet MS', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#bmd{
		font-size:23px;
		background-color:darkred;
		height:auto;
		width:100%;
		margin-top:0px;
		text-align:center;
		font-family:'Trebuchet MS', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#barca-match-div{
		display:none;
	}
	#transfer-news-div-2{
		width:98%;
		height:100%;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		color:white;
		background-color:black;
		margin-left:-1%;
		padding:2%;
		padding-top:3%;
		margin-top:35px;
		margin:-8px;
		padding-right:16px;
	}
	#barca-match-div-2{
		width:98%;
		height:100%;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		color:white;
		background-color:black;
		margin-left:-1%;
		padding:2%;
		padding-top:3%;
		margin-top:35px;
		margin:-8px;
		padding-right:16px;
	}
	#squad-list-div{
		width:86%;
		height:300px;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		color:white;
		background-color:black;
		margin-left:5%;
		margin-right:5%;
		border-radius:5%;
		padding:2%;
		margin-top:15px;
	}
	#sld{
		font-size:25px;
		background-color:darkred;
		height:auto;
		margin-top:0px;
		text-align:center;
	}
	#match-top{
		margin-top:100px;
	}
	#match-middle{
		margin-top:30px;
	}
	#today-match{
		text-align:center;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
	}
	.barca-image-1{
		width:150px;
		height:150px;
		margin-left:5%;
		float:left;
		margin-top:20px;
		border-radius:20%;
	}
	.barca-image-2{
		width:150px;
		height:150px;
		margin-right:5%;
		float:right;
		margin-top:20px;
		border-radius:20%;
	}
	.barca-image-center{
		width:250px;
		height:250px;
		margin-left:5%;
		margin-top:20px;
		border-radius:20%;
	}
	#predict{
		width:90%;
		margin-left:5%;
		margin-right:5%;
		text-align:justify;
		margin-top:20px;
		border-radius:20%;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	#choose{
		width:90%;
		margin-left:5%;
		margin-right:5%;
		text-align:justify;
		margin-top:20px;
		border-radius:20%;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	footer{
		color:white;
		background-color:black;
		width:100%;
		height:370px;
		margin:-8px;
		padding-right:16px;
		padding-top:10px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#bap{
		margin-left:5%;
		font-size:18px;
	}
	#prt{
		margin-left:5%;
		font-size:18px;
	}
	#cu{
		float:left;
		margin-left:1%;
		font-size:18px;
	}
	#fu{
		float:left;
		margin-left:1%;
		font-size:18px;
		margin-top:13px;
	}
	#footer-down{
		color:white;
		background-color:darkred;
		width:100%;
		height:50px;
		padding-right:16px;
		margin-top:60px;
		padding-bottom:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#reg{
		width:50%;
		margin-left:1%;
		float:left;
		margin-top:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	#reg-2{
		width:98%;
		margin-left:1%;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	#reg-5{
		width:58%;
		margin-left:-1%;
		float:left;
		margin-top:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	.form-changer{
		width:175%;
		height:32px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.submit-changer{
		width:80%;
		height:30px;
		font-size:18px;
		background-color:black;
		border-radius:10px;
		border-width:0px;
		color:white;
	}
	#today-match-2{
		text-align:center;
		font-family:Helvetica, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#fp{
		color:darkred;
	}
	.won-alert{
		width:200px;
		height:200px;
		margin-left:5%;
		margin-top:20px;
	}
	#receiver{
		width:150%;
	}
	.news{
		width:300px;
		height:300px;
		margin-left:5%;
		margin-right:10px;
		float:left;
	}
	#receiver-2{
		margin-left:5%;
		width:165%;
		text-align:justify;
		margin-top:8px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	.news-video{
		width:165%;
		height:300px;
		margin-top:0px;
		margin-left:5%;
	}
	#receiver-3{
		margin-left:5%;
		width:165%;
		text-align:justify;
		margin-top:0px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	#receiver-2 span{
		font-weight:bold;
		font-size:15px;
	}
	#receiver-2 h2{
		text-align:left;
	}
	#receiver-3 span{
		font-weight:bold;
		font-size:15px;
	}
	#players2 p span{
		font-weight:bold;
		font-size:15px;
	}
	#receiver-3 h2{
		text-align:center;
	}
	#players p{
		width:171%;
		margin-left:5%;
		text-align:justify;
	}
	#players h3{
		width:171%;
		margin-left:5%;
	}
	#players2 p{
		width:171%;
		margin-left:5%;
		text-align:justify;
	}
	#players2 h3{
		width:171%;
		margin-left:5%;
	}
	.read-more{
		width:100%;
		height:30px;
		font-size:18px;
		background-color:black;
		border-radius:10px;
		border-width:0px;
		color:white;
	}
	#account-down{
		background-color:black;
		height:auto;
		border-radius:10px;
		color:white;
	}
	#menu-account{
		background-color:darkred;
		height:180px;
		border-radius:10px 10px 0px 0px;
		cursor:pointer;
		font-family:'Arial Black', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:16px;
	}
	#hom{
		float:left;
		margin-left:9px;
	}
	#pre{
		float:left;
		margin-left:9px;
	}
	#tro{
		float:left;
		margin-left:9px;
	}
	#edp{
		float:left;
		margin-left:9px;
	}
	#livechat{
		float:left;
		margin-left:9px;
	}
	#livecom{
		float:left;
		margin-left:9px;
	}
	#tmat{
		font-size:18px;
		text-align:center;
	}
	.barca-image{
		width:100px;
		height:100px;
		border-radius:10px;
	}
	.opponent-image{
		width:100px;
		height:100px;
		border-radius:10px;
	}
	.predict-match{
		width:100%;
		height:40px;
		font-size:18px;
		background-color:darkred;
		border-radius:10px;
		border-width:0px;
		color:white;
		margin-top:50px;
		margin-bottom:50px;
	}
	#predict-match-show{
		margin-left:5%;
		margin-right:5%;
		font-size:18px;
	}
	.field-match-result-insert{
		width:50%;
		height:25px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		margin-left:5%;
	}
	.predict-match-submit{
		width:30%;
		height:30px;
		font-size:18px;
		background-color:darkred;
		border-width:0px;
		color:white;
		margin-top:10px;
		margin-bottom:50px;
	}
	#trophy-show{
		margin-left:5%;
		margin-right:5%;
		font-size:18px;
		margin-bottom:30px;
	}
	#edit-p-show{
		margin-left:5%;
		margin-right:5%;
		font-size:18px;
		margin-bottom:30px;
	}
	.edit-p-edit{
		width:70%;
		height:25px;
		font-size:18px;
		background-color:darkred;
		border-width:0px;
		color:white;
	}
	.field-edit-pro{
		width:95%;
		height:25px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		margin-top:5px;
		margin-bottom:5px;
	}
	#message-chat{
		background-color:black;
		border-width:2px;
		border-style:solid;
		border-color:darkred;
		height:auto;
		width:auto;
		padding:1%;
		color:white;
		font-size:18px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#live-chat-location{
		height:300px;
		width:100%;
		background-color:white;
	}
	.field-edit-pro-mes{
		width:98%;
		height:100px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
		margin-top:5px;
		margin-bottom:5px;
	}
	#barca-n{
		color:black;
		font-family:'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:18px;
	}
	.social{
		width:22px;
		height:22px;
	}
	#subscribe{
		background-color:black;
		padding-bottom:20px;
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
	}
	.subscribe-field-insert{
		width:100%;
		height:30px;
	}
	.subscribe-submit{
		width:102.5%;
		height:35px;
		background-color:darkred;
		border-width:0px;
		color:white;
	}
	#share-post{
		text-align:center;
		font-size:16px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#not-checker{
		background-color:black;
		color:white;
		padding:2%;
	}
	#scores-here{
		font-weight:bold;
	}
	#framechat{
		width:100%;
		height:250px;
	}
	#sumimg{
	    width:45%;
	    height:100px;
	    float:left;
	}
	#sumimg1{
	    width:45%;
	    height:100px;
	    float:left;
	}
	.linkgo{
	    width:45%;
	    margin-left:5%;
	    float:left;
	}
}
@media only screen and (min-width:1000px){
    #click-menu{
        display:none;
    }
	#barca-top{
		color:white;
		background-color:darkred;
		width:100%;
		height:280px;
		margin:-8px;
		padding-right:16px;
		padding-top:10px;
	}
	#barca-top h1{
		font-family:Verdana, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:70px;
		float:left;
		margin-left:20px;
		width:60%;
	}
	#menu-lap{
		text-align:center;
		background-color:black;
		height:60px;
		margin-top:10px;
		padding-top:30px;
		margin-right:-16px;
	}
	#menu-lap-2{
	    display:none;
	}
	#barcelona-appear{
		background-color:black;
		color:white;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		width:20%;
		height:auto;
		position:relative;
		margin-left:40%;
		margin-top:-40px;
		padding-bottom:5px;
		padding-top:5px;
		text-align:center;
	}
	#brcl{
		cursor:pointer;
	}
	.space-in-nav{
		margin-left:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
	}
	#barca-image{
		width:20%;
		height:200px;
		margin-left:15%;
		float:left;
		margin-top:20px;
		border-radius:20%;
	}
	#menu-phone{
		display:none;
	}
	#transfer-news-div{
		width:20%;
		height:1500px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:22px;
		color:white;
		background-color:black;
		float:left;
		padding:1%;
		margin-top:-60px;
		margin-left:-10px;
	}
	#tnd{
		font-size:27px;
		background-color:darkred;
		height:auto;
		margin-top:0px;
		text-align:center;
		font-family:'Trebuchet MS', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#bmd{
		font-size:27px;
		background-color:darkred;
		height:auto;
		margin-top:0px;
		text-align:center;
		font-family:'Trebuchet MS', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#barca-match-div{
		width:20%;
		height:1500px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:22px;
		color:white;
		background-color:black;
		float:right;
		padding:1%;
		margin-top:-60px;
		margin-right:-8px;
	}
	#squad-list-div{
		width:20%;
		height:300px;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:23px;
		color:white;
		background-color:black;
		float:left;
		margin-left:17%;
		border-radius:5%;
		padding:1%;
		margin-top:10px;
	}
	#transfer-news-div-2{
		display:none;
	}
	#barca-match-div-2{
		display:none;
	}
	#sld{
		font-size:30px;
		background-color:darkred;
		height:auto;
		margin-top:0px;
		text-align:center;
	}
	#match-top{
		margin-top:100px;
	}
	#match-middle{
		margin-top:30px;
	}
	#today-match{
		text-align:center;
		font-family:Helvetica, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	.barca-image-1{
		width:20%;
		height:200px;
		margin-left:5%;
		float:left;
		margin-top:20px;
		border-radius:20%;
	}
	.barca-image-2{
		width:20%;
		height:200px;
		margin-right:5%;
		float:right;
		margin-top:20px;
		border-radius:20%;
	}
	.barca-image-center{
		float:left;
		width:20%;
		height:250px;
		margin-left:15%;
		margin-top:20px;
		border-radius:20%;
	}
	#predict{
		width:20%;
		margin-left:5%;
		float:left;
		margin-top:20px;
		border-radius:20%;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#choose{
		width:20%;
		margin-right:5%;
		float:right;
		margin-top:20px;
		border-radius:20%;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	footer{
		color:white;
		background-color:black;
		width:100%;
		height:280px;
		margin:-8px;
		padding-right:16px;
		padding-top:10px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#bap{
		float:left;
		margin-left:5%;
		font-size:26px;
		width:40%;
	}
	#prt{
		float:right;
		margin-right:5%;
		font-size:26px;
	}
	#cu{
		float:left;
		margin-left:5%;
		font-size:18px;
	}
	#fu{
		float:right;
		margin-right:15%;
		font-size:18px;
		margin-top:-1px;
	}
	#footer-down{
		color:white;
		background-color:darkred;
		width:100%;
		height:50px;
		padding-right:16px;
		margin-top:40px;
		padding-top:10px;
		padding-bottom:30px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#reg{
		width:50%;
		margin-left:2%;
		float:left;
		text-align:justify;
		margin-top:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#reg-4{
		width:50%;
		margin-left:2%;
		float:left;
		text-align:justify;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#reg-2{
		width:50%;
		margin-left:3%;
		float:left;
		text-align:justify;
		margin-top:20px;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#reg-3{
		width:50%;
		margin-left:3.5%;
		float:left;
		text-align:justify;
		margin-top:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	#reg-5{
		width:50%;
		margin-left:4%;
		float:left;
		text-align:justify;
		margin-top:20px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:30px;
	}
	.form-changer{
		width:100%;
		height:35px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.submit-changer{
		width:50%;
		height:40px;
		font-size:25px;
		background-color:black;
		border-radius:10px;
		border-width:0px;
		color:white;
	}
	#today-match-2{
		text-align:center;
		font-family:Helvetica, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:35px;
	}
	#fp{
		color:darkred;
	}
	.won-alert{
		width:30%;
		height:200px;
		margin-left:5%;
		float:left;
		margin-top:100px;
	}
	#receiver{
		margin-left:20px;
		float:left;
		width:60%;
		text-align:left;
	}
	.news{
		width:300px;
		height:300px;
		margin-left:5%;
		margin-right:10px;
		float:left;
	}
	#receiver-2{
		margin-left:25px;
		width:90%;
		text-align:justify;
		margin-top:0px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
	}
	.news-video{
		width:90%;
		height:300px;
		margin-left:5%;
		float:left;
	}
	#receiver-3{
		margin-left:25px;
		width:90%;
		text-align:justify;
		margin-top:0px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
	}
	#receiver-2 span{
		font-weight:bold;
		font-size:18px;
	}
	#receiver-2 h2{
		text-align:left;
	}
	#receiver-3 span{
		font-weight:bold;
		font-size:18px;
	}
	#players2 p span{
		font-weight:bold;
		font-size:15px;
	}
	#receiver-3 h2{
		text-align:center;
	}
	#players p{
		margin-left:5%;
	}
	#players2 p{
		margin-left:5%;
	}
	#players2 p span{
		font-weight:bold;
		font-size:18px;
	}
	#mps{
		display:none;
	}
	.read-more{
		width:100%;
		height:40px;
		font-size:25px;
		background-color:black;
		border-radius:10px;
		border-width:0px;
		color:white;
	}
	#account-down{
		background-color:black;
		height:auto;
		border-radius:10px;
		color:white;
	}
	#menu-account{
		background-color:darkred;
		height:130px;
		border-radius:10px 10px 0px 0px;
		cursor:pointer;
		font-family:'Arial Black', Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:20px;
	}
	#hom{
		float:left;
		margin-left:9px;
	}
	#pre{
		float:left;
		margin-left:9px;
	}
	#tro{
		float:left;
		margin-left:9px;
	}
	#edp{
		float:left;
		margin-left:9px;
	}
	#livechat{
		float:left;
		margin-left:9px;
	}
	#livecom{
		float:left;
		margin-left:9px;
	}
	#tmat{
		font-size:25px;
		text-align:center;
	}
	.barca-image{
		width:200px;
		height:200px;
		border-radius:10px;
	}
	.opponent-image{
		width:200px;
		height:200px;
		border-radius:10px;
	}
	.predict-match{
		width:100%;
		height:40px;
		font-size:25px;
		background-color:darkred;
		border-radius:10px;
		border-width:0px;
		color:white;
		margin-top:50px;
		margin-bottom:50px;
	}
	#predict-match-show{
		margin-left:5%;
		margin-right:5%;
	}
	.field-match-result-insert{
		width:50%;
		height:35px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		margin-left:5%;
	}
	.predict-match-submit{
		width:20%;
		height:40px;
		font-size:18px;
		background-color:darkred;
		border-width:0px;
		color:white;
		margin-top:10px;
		margin-bottom:50px;
	}
	#trophy-show{
		margin-left:5%;
		margin-right:5%;
	}
	#edit-p-show{
		margin-left:5%;
		margin-right:5%;
	}
	.edit-p-edit{
		width:40%;
		height:40px;
		font-size:18px;
		background-color:darkred;
		border-width:0px;
		color:white;
	}
	.field-edit-pro{
		width:95%;
		height:35px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		margin-top:5px;
		margin-bottom:5px;
	}
	#message-chat{
		background-color:black;
		border-width:2px;
		border-style:solid;
		border-color:darkred;
		height:auto;
		width:auto;
		padding:1%;
		font-size:25px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		color:white;
	}
	#live-chat-location{
		height:300px;
		width:100%;
		background-color:white;
	}
	.field-edit-pro-mes{
		width:99%;
		height:100px;
		border-width:2px;
		border-style:solid;
		border-color:black;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		font-size:25px;
		margin-top:5px;
		margin-bottom:5px;
	}
	#barca-n{
		color:black;
	}
	.social{
		width:40px;
		height:40px;
	}
	#subscribe{
		background-color:black;
		padding-bottom:20px;
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
	}
	.subscribe-field-insert{
		width:300px;
		height:30px;
	}
	.subscribe-submit{
		width:200px;
		height:35px;
		background-color:darkred;
		border-color:darkred;
		color:white;
	}
	#share-post{
		text-align:center;
		font-size:23px;
		font-family:Calibri, 'Times New Roman', 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#not-checker{
		background-color:black;
		color:white;
		padding:2%;
	}
	#scores-here{
		font-weight:bold;
	}
	#framechat{
		width:100%;
		height:300px;
	}
	.compress{
		margin-left:23%;
		margin-right:23%;
	}
	.compressup{
		margin-top:-20px;
	}
	#sumimg{
	    width:45%;
	    height:100px;
	    float:left;
	}
	#sumimg1{
	    width:45%;
	    height:200px;
	    float:left;
	}
	.linkgo{
	    width:45%;
	    margin-left:5%;
	    float:left;
	}
}